<div class="about__Body contentBody">
  <div class="about__Container contentWrapper">
    <div class="about__ArtistsContainer">
      <h3 class="subtitle">OUR AMAZING ARTISTS</h3>
      <div class="about__ArtistsList">
        <div class="about__Artist" *ngFor="let artist of artists">
          <div class="about__ArtistImage">
            <img
              src="http://localhost:1337{{
                artist.attributes?.image?.data?.attributes?.url
              }}"
              alt="artist1"
            />
          </div>
          <div class="about__ArtistName">{{ artist.attributes?.name }}</div>
          <div class="about__ArtistDesc">
            {{ artist.attributes?.description }}
          </div>
        </div>
      </div>
    </div>
    <hr class="separator" />
    <div class="about__ReviewsContainer">
      <h3 class="subtitle" style="padding: 0 0 12px">RATINGS AND REVIEWS</h3>
      <div class="about__Review" *ngFor="let review of reviews">
        <div class="rating">
          <p>
            <span
              [ngClass]="
                review.attributes?.rating! < 10
                  ? 'firstNumber more-left'
                  : 'firstNumber'
              "
              >{{ review.attributes?.rating }}</span
            >/<span class="secondNumber">10</span>
          </p>
        </div>
        <div class="reviewText">
          <div>
            <p>
              {{ review.attributes?.reviewText }}
            </p>
            <p class="mt-5 text-right">- {{ review.attributes?.reviewer }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
