<div class="profile__Body contentBody">
  <div class="profile__Container contentWrapper">
    <div class="profile__ProfileContainer">
      <div class="profile__Header">
        <h3 class="subtitle" style="padding: 24px 0">INFORMATION</h3>
        <div class="buttons">
          <button
            type="submit"
            class="btn btn-white"
            *ngIf="editingProfile"
            (click)="cancelProfileEdit()"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-dark"
            *ngIf="editingProfile"
            (click)="submitProfileForm.click()"
          >
            Save changes
          </button>
          <button
            type="submit"
            class="btn btn-dark"
            *ngIf="!editingProfile"
            (click)="startProfileEdit()"
          >
            Edit profile
          </button>
        </div>
      </div>
      <div class="profile__ProfileInformation">
        <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
          <div class="d-flex justify-content-between align-items-center">
            <p>Full Name</p>
            <p *ngIf="!editingProfile" (dblclick)="startProfileEdit()">
              {{
                currentUserDetails?.displayName?.length
                  ? currentUserDetails?.displayName
                  : "Unknown"
              }}
            </p>
            <input
              *ngIf="editingProfile"
              type="text"
              class="form-control w-50"
              formControlName="displayName"
              placeholder="{{
                profileForm.value.displayName ?? 'Enter full name'
              }}"
            />
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <p>First Name</p>
            <p *ngIf="!editingProfile" (dblclick)="startProfileEdit()">
              {{
                currentUserDetails?.firstName?.length
                  ? currentUserDetails?.firstName
                  : "Unknown"
              }}
            </p>
            <input
              *ngIf="editingProfile"
              type="text"
              class="form-control w-50"
              formControlName="firstName"
              placeholder="{{ profileForm.value.firstName ?? 'Enter data' }}"
            />
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <p>Last Name</p>
            <p *ngIf="!editingProfile" (dblclick)="startProfileEdit()">
              {{
                currentUserDetails?.lastName?.length
                  ? currentUserDetails?.lastName
                  : "Unknown"
              }}
            </p>
            <input
              *ngIf="editingProfile"
              type="text"
              class="form-control w-50"
              formControlName="lastName"
              placeholder="{{ profileForm.value.lastName ?? 'Enter data' }}"
            />
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <p>Phone number</p>
            <p *ngIf="!editingProfile" (dblclick)="startProfileEdit()">
              {{
                currentUserDetails?.phoneNumber?.length
                  ? currentUserDetails?.phoneNumber
                  : "Unknown"
              }}
            </p>
            <input
              *ngIf="editingProfile"
              type="tel"
              class="form-control w-50"
              formControlName="phoneNumber"
              placeholder="{{ profileForm.value.phoneNumber ?? 'Enter data' }}"
            />
          </div>
          <input type="submit" #submitProfileForm class="d-none" />
        </form>
      </div>
    </div>
    <hr class="separator" />
    <div class="profile__Orders">
      <div class="profile__Header reverse-header">
        <h3 class="subtitle">PAST ORDERS</h3>
      </div>
      <div class="profile__Accordion">
        <ng-container *ngIf="orders.length; else noOrders">
          <div ngbAccordion [closeOthers]="true">
            <div ngbAccordionItem *ngFor="let order of orders">
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>{{ order.message }}</button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    <div class="container">
                      <div class="row">
                        <div class="col-md-6">
                          <p style="font-weight: bold">First name:</p>
                        </div>
                        <div class="col-md-6">
                          <p>{{ order.firstName }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <p style="font-weight: bold">Last name:</p>
                        </div>
                        <div class="col-md-6">
                          <p>{{ order.lastName }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <p style="font-weight: bold">Email:</p>
                        </div>
                        <div class="col-md-6">
                          <p>{{ order.email }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <p style="font-weight: bold">Phone number:</p>
                        </div>
                        <div class="col-md-6">
                          <p>{{ order.phoneNumber }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <p style="font-weight: bold">Date:</p>
                        </div>
                        <div *ngIf="order.createdAt" class="col-md-6">
                          <p>
                            {{ order.createdAt }}
                          </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <p style="font-weight: bold">Selected design(s):</p>
                        </div>
                        <div class="col-md-6">
                          <p>
                            <span
                              *ngFor="let design of order.selectedDesigns"
                              >{{ design.attributes?.name }}</span
                            >
                          </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <p style="font-weight: bold">See design:</p>
                        </div>
                        <div class="col-md-6" style="margin-bottom: 1rem">
                          <a
                            *ngIf="order.filePath"
                            href="{{ order.filePath }}"
                            target="_blank"
                            >Link</a
                          >
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <p style="font-weight: bold">Message:</p>
                        </div>
                        <div class="col-md-6">
                          <p>{{ order.message }}</p>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #noOrders>
          <div class="w-100">
            <i style="display: block; text-align: center"
              >You didn't make any orders yet.</i
            >
          </div>
        </ng-template>
      </div>
    </div>
    <hr class="separator" />
    <div class="profile__Reviews">
      <div class="profile__Header">
        <h3 class="subtitle">YOUR REVIEWS</h3>
      </div>
      <div class="profile__Accordion" style="padding-bottom: 24px">
        <ng-container *ngIf="reviews.length; else noReviews"
          ><div ngbAccordion [closeOthers]="true">
            <div ngbAccordionItem *ngFor="let review of reviews">
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Rating: {{ review.rating }}</button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    <p style="margin-bottom: 0">{{ review.reviewText }}</p>
                  </ng-template>
                </div>
              </div>
            </div>
          </div></ng-container
        >
        <ng-template #noReviews>
          <div class="w-100">
            <i style="display: block; text-align: center"
              >You didn't leave a review yet.</i
            >
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
