.notfound,
.forbidden {
  &__Container {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    font-family: "JosefinSans - Regular", sans-serif;
    h1 {
      padding-bottom: 48px;
    }
    button {
      width: 40%;
      margin: 0 auto;
      display: block;
    }
  }
}
