<footer class="footer">
  <div class="container">
    <div class="row">
      <div
        class="d-flex flex-column justify-content-center align-items-center align-content-center"
      >
        <img
          src="assets/images/logo/storyline-logo.png"
          alt="Your Logo"
          class="logo"
        />
        <p>Tel: 555 0146</p>
        <p>E-mail: contact@storylinetattoo.com</p>
        <p>Address: 2396 Johnny Lane, New York City</p>
        <div class="d-flex flex-row">
          <a href="#" target="_blank"
            ><img src="assets/images/socials/facebook.svg" alt="Facebook"
          /></a>
          <a href="#" target="_blank"
            ><img src="assets/images/socials/insta.svg" alt="Twitter"
          /></a>
          <a href="#" target="_blank"
            ><img src="assets/images/socials/tiktok.svg" alt="Instagram"
          /></a>
          <a href="#" target="_blank"
            ><img src="assets/images/socials/twitter.png" alt="Instagram"
          /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
