<div class="home__Body contentBody">
  <div class="home__Container contentWrapper">
    <div class="home__TextLogoContainer">
      <p class="text">
        Our emblem signifies the art of storytelling through ink, celebrating
        the timeless cycle of life, artistic transformation, and the elegant
        unity of your personal narrative with the world around you.
      </p>
      <div class="imageContainer">
        <img src="assets/images/logo/storyline-logo.png" alt="Storyline logo" />
      </div>
    </div>
    <hr class="separator" />
    <div class="home__PageInfoContainer">
      <div class="home__PageInfoItem">
        <div class="home__ItemInfo reverse-info">
          <div class="home__ItemName">Dedicated to Excellence</div>
          <div class="home__ItemDesc">
            At Storyline Tattoo Studio, we adhere to the highest standards of
            safety and hygiene. Your well-being is our top priority. We use
            state-of-the-art equipment and follow strict sterilization
            protocols, ensuring a safe and enjoyable tattooing experience.
          </div>
          <button class="btn btn-dark" routerLink="/gallery">OUR WORK</button>
        </div>
        <div class="home__ItemImage">
          <img
            src="assets/images/home-page/first-image.jpg"
            alt="Storyline tattoo studio"
          />
        </div>
      </div>
    </div>
    <hr class="separator" />
    <div class="home__PageInfoContainer">
      <div class="home__PageInfoItem">
        <div class="home__ItemImage">
          <img
            src="assets/images/home-page/second-image.jpg"
            alt="Storyline tattoo studio"
          />
        </div>
        <div class="home__ItemInfo">
          <div class="home__ItemName">Where Magic Happens</div>
          <div class="home__ItemDesc">
            Located in the heart of NYC, our studio is a haven for those seeking
            a unique and memorable tattoo experience. Our space is designed to
            provide a comfortable and welcoming atmosphere, where your
            imagination can run wild.
          </div>
          <button class="btn btn-dark" routerLink="/about">
            GET TO KNOW US
          </button>
        </div>
      </div>
    </div>
    <hr class="separator" />

    <div class="home__PageInfoContainer">
      <p *ngIf="!currentUser" class="registerInfo">
        Enhance your journey with us by registering for an account. Keep track
        of your order history, enjoy personalized form filling, and create a
        favorites list for easy decision-making. Join our exclusive community
        for updates and promotions. Your tattoo adventure, simplified and
        personalized.
      </p>
      <div class="home__PageInfoItem">
        <div class="home__ItemInfo reverse-info home__FormContainer">
          <ng-container *ngIf="!currentUser; else userDetails">
            <ng-container *ngIf="!showingLogin">
              <h3 class="subtitle">REGISTER</h3>
              <form
                [formGroup]="registerForm"
                (ngSubmit)="onSubmitRegister()"
                autocomplete="on"
              >
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Full Name"
                    formControlName="displayName"
                    autocomplete="displayName"
                  />
                </div>
                <ul
                  class="form__Errors"
                  *ngIf="
                    displayName &&
                    displayName.invalid &&
                    (displayName.dirty || displayName.touched)
                  "
                >
                  <li
                    class="form__Error"
                    *ngIf="displayName?.errors?.['required']"
                  >
                    Name is required
                  </li>
                </ul>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="E-mail"
                    formControlName="email"
                    autocomplete="email"
                  />
                </div>
                <ul
                  class="form__Errors"
                  *ngIf="
                    email && email.invalid && (email.dirty || email.touched)
                  "
                >
                  <li class="form__Error" *ngIf="email?.errors?.['required']">
                    E-mail address is required
                  </li>
                  <li
                    class="form__Error"
                    *ngIf="email?.errors?.['email'] || email?.errors?.['pattern']"
                  >
                    Please enter a valid e-mail address
                  </li>
                </ul>
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    formControlName="email"
                    autocomplete="email"
                    formControlName="password"
                    autocomplete="new-password"
                  />
                </div>
                <ul
                  class="form__Errors"
                  *ngIf="
                    password &&
                    password.invalid &&
                    (password.dirty || password.touched)
                  "
                >
                  <li
                    class="form__Error"
                    *ngIf="password?.errors?.['required']"
                  >
                    Password is required
                  </li>
                </ul>
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Confirm Password"
                    formControlName="confirmPassword"
                    autocomplete="new-password"
                  />
                </div>
                <ul
                  class="form__Errors"
                  *ngIf="confirmPassword && !confirmPassword.invalid && registerForm.errors?.['passwordsDontMatch']"
                >
                  <li class="form__Error">Passwords don't match</li>
                </ul>
                <ul
                  class="form__Errors"
                  *ngIf="
                    confirmPassword &&
                    confirmPassword.invalid &&
                    (confirmPassword.dirty || confirmPassword.touched)
                  "
                >
                  <li
                    class="form__Error"
                    *ngIf="confirmPassword?.errors?.['required']"
                  >
                    Confirm password is required
                  </li>
                </ul>
                <div class="buttonContainer">
                  <button type="submit" class="btn btn-dark">SUBMIT</button>
                  <p>
                    Already have an account?
                    <span (click)="showingLogin = true">Sign in</span>
                  </p>
                </div>
              </form>
            </ng-container>
            <ng-container *ngIf="showingLogin">
              <h3 class="subtitle">LOGIN</h3>
              <form
                [formGroup]="loginForm"
                (ngSubmit)="onSubmitLogin()"
                autocomplete="on"
              >
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="E-mail"
                    formControlName="email"
                    autocomplete="email"
                  />
                </div>
                <ul
                  class="form__Errors"
                  *ngIf="
                    emailLogin &&
                    emailLogin.invalid &&
                    (emailLogin.dirty || emailLogin.touched)
                  "
                >
                  <li
                    class="form__Error"
                    *ngIf="emailLogin?.errors?.['required']"
                  >
                    E-mail address is required
                  </li>
                  <li
                    class="form__Error"
                    *ngIf="emailLogin?.errors?.['email'] || emailLogin?.errors?.['pattern']"
                  >
                    Please enter a valid e-mail address
                  </li>
                </ul>
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    formControlName="password"
                    autocomplete="current-password"
                  />
                </div>
                <ul
                  class="form__Errors"
                  *ngIf="
                    passwordLogin &&
                    passwordLogin.invalid &&
                    (passwordLogin.dirty || passwordLogin.touched)
                  "
                >
                  <li
                    class="form__Error"
                    *ngIf="passwordLogin?.errors?.['required']"
                  >
                    Password is required
                  </li>
                </ul>
                <div class="buttonContainer">
                  <button type="submit" class="btn btn-dark">SUBMIT</button>
                  <p>
                    Don't have an account yet?
                    <span (click)="showingLogin = false">Register</span>
                  </p>
                </div>
              </form>
            </ng-container>
          </ng-container>
          <ng-template #userDetails>
            <ng-container *ngIf="currentUserDetails?.isAdmin; else notAdmin">
              <h3 class="subtitle">
                Hello, {{ currentUserDetails?.displayName }}
              </h3>
              <div
                class="d-flex flex-row w-100 align-items-center justify-content-center"
              >
                <button class="btn btn-dark" routerLink="/admin-dashboard">
                  Visit admin dashboard
                </button>
                <button class="btn btn-white logoutLink" (click)="logout()">
                  Log out
                </button>
              </div></ng-container
            >
            <ng-template #notAdmin>
              <h3 class="subtitle">
                Hello, {{ currentUserDetails?.displayName }}
              </h3>
              <p class="welcomeText">
                Welcome back to Storyline Tattoo Studio. Your journey with us
                just got even more personal. With your account, you can
                effortlessly manage your tattoo adventures. Explore your order
                history, easily fill out personalized forms, and curate a
                favorites list for swift decision-making.
              </p>
              <div
                class="d-flex flex-row w-100 align-items-center justify-content-center"
              >
                <button class="btn btn-dark" routerLink="/profile">
                  Visit your profile
                </button>
                <button class="btn btn-white logoutLink" (click)="logout()">
                  Log out
                </button>
              </div>
            </ng-template>
          </ng-template>
        </div>
        <div class="home__ItemImage">
          <img
            src="assets/images/home-page/form-image.jpg"
            alt="Storyline tattoo studio"
          />
        </div>
      </div>
    </div>
  </div>
</div>
