<div class="contact__Body contentBody">
  <div class="contact__Container contentWrapper">
    <div class="contact__FormContainer">
      <p class="contactInfo">
        Get in touch seamlessly with our team using our intuitive contact form.
        Share your ideas, upload or choose a design, and send your preferences
        directly to us. We're here to turn your vision into inked reality—reach
        out and let the tattoo journey begin.
      </p>
      <div class="container w-50">
        <form
          [formGroup]="contactForm"
          (ngSubmit)="submitForm()"
          autocomplete="on"
        >
          <div class="form-row row">
            <div class="form-group col-md-6">
              <label for="firstName">First Name</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                placeholder="Enter your first name"
                formControlName="firstName"
                autocomplete="on"
              />
              <ul
                style="margin-top: 12px"
                class="form__Errors"
                *ngIf="
                  firstName &&
                  firstName.invalid &&
                  (firstName.dirty || firstName.touched)
                "
              >
                <li class="form__Error" *ngIf="firstName?.errors?.['required']">
                  First Name is required
                </li>
              </ul>
            </div>

            <div class="form-group col-md-6">
              <label for="lastName">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                placeholder="Enter your last name"
                formControlName="lastName"
                autocomplete="on"
              />
              <ul
                style="margin-top: 12px"
                class="form__Errors"
                *ngIf="
                  lastName &&
                  lastName.invalid &&
                  (lastName.dirty || lastName.touched)
                "
              >
                <li class="form__Error" *ngIf="lastName?.errors?.['required']">
                  Last Name is required
                </li>
              </ul>
            </div>
          </div>
          <div class="form-row row">
            <div class="form-group col-md-6">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter your email"
                formControlName="email"
                autocomplete="on"
              />
              <ul
                style="margin-top: 12px"
                class="form__Errors"
                *ngIf="email && email.invalid && (email.dirty || email.touched)"
              >
                <li class="form__Error" *ngIf="email?.errors?.['required']">
                  E-mail address is required
                </li>
                <li
                  class="form__Error"
                  *ngIf="email?.errors?.['email'] || email?.errors?.['pattern']"
                >
                  Please enter a valid e-mail address
                </li>
              </ul>
            </div>
            <div class="form-group col-md-6">
              <label for="phoneNumber">Phone Number</label>
              <input
                type="tel"
                class="form-control"
                id="phoneNumber"
                placeholder="Enter your phone number"
                formControlName="phoneNumber"
                autocomplete="on"
              />
              <ul
                style="margin-top: 12px"
                class="form__Errors"
                *ngIf="
                  phoneNumber &&
                  phoneNumber.invalid &&
                  (phoneNumber.dirty || phoneNumber.touched)
                "
              >
                <li
                  class="form__Error"
                  *ngIf="phoneNumber?.errors?.['required']"
                >
                  Phone Number is required
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <label for="dropdown">Select an Option</label>
            <select class="form-control" id="dropdown">
              <option value="" disabled selected>Select...</option>
              <option value="option1">Option 1</option>
              <option value="option2">Option 2</option>
              <option value="option3">Option 3</option>
            </select>
          </div>
          <div class="form-group d-flex flex-column">
            <label for="fileUpload">Upload File</label>
            <input
              type="file"
              class="form-control-file"
              id="fileUpload"
              (change)="handleFileInput($event)"
            />
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea
              class="form-control textAreaInput"
              id="message"
              rows="4"
              placeholder="Enter your message"
              formControlName="message"
              autocomplete="on"
            ></textarea>
            <ul
              style="margin-top: 12px"
              class="form__Errors"
              *ngIf="
                message && message.invalid && (message.dirty || message.touched)
              "
            >
              <li class="form__Error" *ngIf="message?.errors?.['required']">
                Message is required
              </li>
            </ul>
          </div>
          <div class="w-100">
            <button type="submit" class="btn btn-dark">SUBMIT</button>
          </div>
        </form>
      </div>
    </div>
    <hr class="separator" />
    <div class="contact__InformationContainer">
      <div class="contact__PageInfoContainer">
        <div class="contact__PageInfoItem">
          <div class="contact__ItemInfo">
            <div class="contact__ItemName">What happens next?</div>
            <div class="contact__ItemDesc">
              After you send your message, we'll get back to you as soon as
              possible through provided email address or phone number. We'll
              discuss your ideas, preferences, and any other details you'd like
              to share. We'll also answer any questions you may have about the
              process and set up an appointment for your consultation.
            </div>
          </div>
          <div class="contact__ItemImage">
            <img
              src="assets/images/contact-page/contact-image.jpg"
              alt="Storyline tattoo studio"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
